{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
   <!-- Main -->
    <div class="d-flex align-items-center justify-content-center mt-5 mt-sm-5">
        <img class="w-sm-100" id="reception" src="{% static 'images/reception.jpg' %}" alt="">
    </div>
{# 1kum   #}
    <div id="onas" class="section_1 d-flex align-items-center justify-content-between bg-light">
        <div class="w-100 p-4 text-center">
            <img class="ml-5 mr-5" width="8%" src="{% static 'images/gulcha.svg' %}" alt="">
            <p class="fs-17 ">WELCOME TO RESPLENDENT CEYLON</p>
            <p class="fs-19 b-2">
                The benchmark for boutique, <br>
                small luxury resorts in Sri Lanka
            </p>
            <p class="fs-14 p-2">
                Conceived by the Fernando family, Sri Lankan tea producers & founders of Dilmah Ceylon Tea, Resplendent Ceylon’s collection of small, luxury resorts offer the discerning traveler a remarkable circuit across Sri Lanka, with a range of authentic experiences, while contributing towards local communities & the environment through the MJF Foundation & Dilmah Conservation.
                <br>
                <br>
                This “best of Sri Lanka” circuit currently features three distinctively original resorts, <br> connected by a thread of peerless service. They are the sole Sri Lankan members of Relais & Chateaux, the global fellowship of individually owned & operated luxury hotels and restaurants. All three resorts; Tea Trails, Cape Weligama and Wild Coast Tented Lodge have won global acclaim as the finest in Sri Lanka.
            </p>
        </div>
        <div>
            <img width="100%" src="{% static 'images/karta.jpg' %}" alt="">
        </div>
    </div>

    <div class="section_2 m-sm-0 p-sm-1 text-center mt-4 p-5 bg-white">
        <p class="fs-18 fs-sm-16">
            OUR RESORTS
        </p>
        <p class="fs-21 fs-sm-19 m-sm-0">
            One magical Tea Island. Three extraordinary resorts from tea fields to clifftop beach & safari lodge.
        </p>
        <p>
            Explore
        </p>
    </div>
{#  2Yum  #}
    <div id="nashiuslugi">
        <div class="section_cape d-flex align-items-center">
            <div class="grid-3 gap-1 container grid-sm-2">
                <div class="align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/tourism.png' %}" alt="">
                    </div>
                    <p class="text-center fs-sm-11">
                        ЭКСКУРСИЯ ПО ГОРОДУ В СОПРОВОЖДЕНИИ ГИДА
                    </p>
                </div>
                <div class="align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/translation.png' %}" alt="">
                    </div>
                    <p class="text-center fs-sm-11">
                        УСЛУГИ ПЕРЕВОДЧИКА
                    </p>
                </div>
                <div class="align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/call-center.png' %}" alt="">
                    </div>
                    <p class="text-center fs-sm-11">
                        УСЛУГИ ТУРИСТИЧЕСКОГО АГЕНТСТВА
                    </p>
                </div>
                <div class="align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/ticket-1.png' %}" alt="">
                    </div>
                    <p class="text-center fs-sm-11">
                        ЗАБРОНИРОВАТЬ, КУПИТЬ Ж-Д ИЛИ АВИА-БИЛЕТ
                    </p>
                </div>
                <div class="align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/sedan-car-front.png' %}" alt="">
                    </div>
                    <p class="text-center fs-sm-11">
                        АРЕНДА АВТОМОБИЛЯ
                    </p>
                </div>
                <div class="align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/station.png' %}" alt="">
                    </div>
                    <p class="text-center fs-sm-11">
                        ВСТРЕЧА В АЭРОПОРТУ И НА ВОКЗАЛЕ ИЛИ ПРОВОДЫ
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 bg-white text-center mt-4 mb-4">
        <p class="fs-27">
            Our places
        </p>
    </div>
    <div class="bg-light">
        <div class="grid-2 gap-1 p-5 p-sm-2">
            <div class="grid-3 gap-1 grid-sm-3">
                <div>
                    <img class="w-100" src="{% static 'images/tea.jpg' %}" alt="">
                    <p class="fs-20 text-center">TEA</p>
                </div>
                <div>
                    <img class="w-100" src="{% static 'images/sea.jpg' %}" alt="">
                    <p class="fs-20 text-center">SEA</p>
                </div>
                <div>
                    <img class="w-100" src="{% static 'images/duxtarcha.jpg' %}" alt="">
                    <p class="fs-20 text-center">SAFARI</p>
                </div>
            </div>
            <div class="p-4 p-sm-2 text-center">
                <p class="fs-18 ">
                    RESPLENDENT SRI LANKA JOURNEY
                </p>
                <p class="fs-20 b-1">
                    Plan the journey of your dreams
                </p>
                <p>
                    Sri Lanka offers myriad experiences in a compact area. Our resorts are in distinctly diverse regions and offer a unique sense of place in each. The Journey typically starts with Tea Trails, then Wild Coast and finally Cape Weligama.
                </p>
                <p>
                    EXPLORE
                </p>
            </div>
        </div>
    </div>
{# 3 Yum #}
    <div id="karta">
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d98226.02664666582!2d64.43190729999999!3d39.704521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1646999736524!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
{# 4rum   #}
    <div id="zabranirovatnomer" class="footer p-5 p-sm-2">
        <div class="d-flex align-items-center justify-content-center p-3">
            <img class="w-5 w-sm-20" src="{% static 'images/Resplendent.svg' %}" alt="">
            <img class="ml-5 w-sm-20 mr-5 w-5" src="{% static 'images/White.svg' %}" alt="">
            <img class="w-5 w-sm-20" src="{% static 'images/dilmah.svg' %}" alt="">
        </div>
        <p class="fs-16 fs-sm-13 text-center text-white mt-5 mb-5 mt-sm-2 mb-sm-2">
            Sri Lanka is the magical Tea Island. Three Relais & Chateaux resorts; Tea Trails, Cape Weligama & Wild Coast Tented Lodge, form an enchanting "Route de Bonheur (Happiness)" from tea fields to clifftop beach & safari lodge. This “best of Sri Lanka” circuit, created by the family owned Dilmah Tea Company, features distinctively original resorts, connected by a thread of peerless service.
        </p>
        <p class="fs-25 mb-2 text-white text-center">
            Book your room
        </p>
        <form action="{% url 'feedback' %}" class="ml-auto mr-auto w-35 w-sm-100" method="POST">
            {% csrf_token %}
            <div class="grid-2 gap-1 align-items-center">
                <div>
                    <label class="text-white">Name :</label>
                    <input required name="name" placeholder="Full name" type="text" class="input mb-3">
                </div>
                <div>
                    <label class="text-white ">Phone number :</label>
                    <input required name="number" placeholder="Phone number" type="number" class="input mb-3">
                </div>

                <div>
                    <label class="text-white ">Number of old person :</label>
                    <input required name="number_person" placeholder="Number of old person" type="number" class="input mb-3">
                </div>

                <div>
                    <label class="text-white ">Number of children :</label>
                    <input required name="number_children" placeholder="Number of children" type="number" class="input mb-3">
                </div>
            </div>

            <label class="text-white">Rooms :</label>
            <select required name="select" class="input" id="">
                <option value="Rooms">Rooms?</option>
                <option value="VIP room">VIP room</option>
                <option value="Medium room">Medium room</option>
                <option value="Easy room">Easy room</option>
            </select>
            <button class="mx-auto btn btn-outline-light rounded-1 w-35 mt-3">Отправить</button>
        </form>
        <hr>
        <div class="grid-2 grid-sm-1">
            <div class="pl-5 pl-sm-0 ">
                <div id="clock" class="clock w-sm-100 mx-sm-auto"></div>
            </div>
            <div class="icon_1 d-flex align-items-center justify-content-end text-white ">
                <div class="mr-3 fs-22 footer2">
                    <a class="text-white" href="https://www.instagram.com/qahramonov_ravshan/">
                        <i class='bx bxl-instagram-alt bx-tada' ></i>
                    </a>
                    <a class="text-white" href="">
                        <i class='bx bxl-facebook-circle bx-tada' ></i>
                    </a>
                    <a class="text-white" href="https://t.me/qahramonov17">
                        <i class='bx bxl-telegram bx-tada bx-rotate-90' ></i>
                    </a>
                </div>
                <p class="footer1 fs-12">
                    Design & Development by <br>
                    Ravshan Qahramonov <br>
                    +998 91 401 77 02
                </p>
            </div>
        </div>
    </div>
{% endblock %}